div[data-role='page'] {
    background-color: rgb(19, 20, 21);
}

.ui-content {
    /*position: relative;*/
}

img.center {
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

#icon {
    width: 60%;
    margin-top: 50px;
}
